html, body {
  margin: 0;
  font-family: 'Montserrat', regular;
}

html header, body header {
  background-image: url(../assets/img/background.png);
  height: 900px;
}

html header nav, body header nav {
  padding: 40px 0 0 48.54%;
  height: 58px;
  list-style-type: none;
  border-bottom: 1px solid rgba(161, 161, 161, 0.5);
}

html header nav a, body header nav a {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  text-decoration: none;
  margin-right: 40px;
}

html header nav .active, body header nav .active {
  border-bottom: 2px solid #FFFFFF;
  padding-bottom: 39px;
}

html header .main-section .first-line, body header .main-section .first-line {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
  padding-top: 220px;
}

html header .main-section .second-line, body header .main-section .second-line {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
  color: #FFFFFF;
  padding-top: 20px;
}

html header .main-section .main-section_button, body header .main-section .main-section_button {
  width: 200px;
  height: 45px;
  background: #4985FF;
  -webkit-box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
          box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
  border-radius: 30px;
  vertical-align: middle;
  margin: 50px auto 0 auto;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  padding-top: 13px;
  color: #FFFFFF;
}

html main .services, body main .services {
  width: 1113px;
  height: 488px;
  margin: 110px auto 105px auto;
  text-align: center;
}

html main .services .first-line, body main .services .first-line {
  height: 88px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 53px;
  text-align: center;
  color: #323232;
}

html main .services .second-line, body main .services .second-line {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 25px;
  text-align: center;
  color: #999999;
  margin-top: 50px;
}

html main .services .service-section, body main .services .service-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

html main .services .service-section .service-section_item, body main .services .service-section .service-section_item {
  width: 353px;
  margin-right: 27px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

html main .services .service-section .service-section_item .images, body main .services .service-section .service-section_item .images {
  position: relative;
}

html main .services .service-section .service-section_item .images .grey-ellipse, body main .services .service-section .service-section_item .images .grey-ellipse {
  position: absolute;
  background-image: url("../assets/img/Ellipse grey.png");
  background-repeat: no-repeat;
  width: 110px;
  height: 110px;
  z-index: 3;
  margin-top: 70px;
  margin-right: 17px;
}

html main .services .service-section .service-section_item .images .blue-ellipse, body main .services .service-section .service-section_item .images .blue-ellipse {
  position: absolute;
  background-image: url("../assets/img/Ellipse blue.png");
  background-repeat: no-repeat;
  width: 90px;
  height: 90px;
  margin: 80px 10px 10px 10px;
  z-index: 2;
}

html main .services .service-section .service-section_item .images .project-image, body main .services .service-section .service-section_item .images .project-image {
  position: absolute;
  background-image: url("../assets/img/project.png");
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  margin: 105px 25px 25px 33px;
  z-index: 1;
}

html main .services .service-section .service-section_item .text-section, body main .services .service-section .service-section_item .text-section {
  width: 228px;
  margin-left: 128px;
}

html main .services .service-section .service-section_item .text-section .header, body main .services .service-section .service-section_item .text-section .header {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  margin-top: 116px;
  color: #000000;
}

html main .services .service-section .service-section_item .text-section .text, body main .services .service-section .service-section_item .text-section .text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  margin-top: 12px;
  margin-right: 30px;
  color: #999999;
}

html main .services .services-section_button, body main .services .services-section_button {
  width: 200px;
  height: 45px;
  background: #4985FF;
  -webkit-box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
          box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
  border-radius: 30px;
  vertical-align: middle;
  margin: 50px auto 150px 455px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  padding-top: 13px;
  color: #FFFFFF;
}

html main .about-us, body main .about-us {
  margin-top: 105px;
  background: #F6F6F8;
}

html main .about-us .main-container, body main .about-us .main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 105px;
  margin: 217px auto 143px 21.1%;
  text-align: center;
}

html main .about-us .main-container .text-container, body main .about-us .main-container .text-container {
  margin-right: 6.3%;
}

html main .about-us .main-container .text-container .header, body main .about-us .main-container .text-container .header {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 53px;
  margin-top: 29.9%;
  color: #323232;
}

html main .about-us .main-container .text-container .text, body main .about-us .main-container .text-container .text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 25px;
  margin-top: 40px;
  color: #999999;
}

html main .about-us .main-container .text-container .link, body main .about-us .main-container .text-container .link {
  cursor: pointer;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin-top: 30px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #4985FF;
}

html main .about-us .main-container .image, body main .about-us .main-container .image {
  background-image: url("../assets/img/about-us picture.png");
  width: 500px;
  height: 400px;
  border-radius: 30px;
  margin-top: 100px;
}

html main .about-us .calendar-container, body main .about-us .calendar-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 70px;
  margin-left: 500px;
}

html main .about-us .calendar-container .project-day, body main .about-us .calendar-container .project-day {
  margin-right: 100px;
}

html main .about-us .calendar-container .project-day .calendar, body main .about-us .calendar-container .project-day .calendar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

html main .about-us .calendar-container .project-day .calendar .picture, body main .about-us .calendar-container .project-day .calendar .picture {
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  margin-top: 10px;
  margin-right: 20px;
}

html main .about-us .calendar-container .project-day .calendar .count, body main .about-us .calendar-container .project-day .calendar .count {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 53px;
  color: #000000;
}

html main .about-us .calendar-container .project-day .text, body main .about-us .calendar-container .project-day .text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 25px;
  margin-bottom: 70px;
  color: #999999;
}

html main .all-services .purple-section, body main .all-services .purple-section {
  height: 490px;
  background: -webkit-gradient(linear, left top, right top, color-stop(20.44%, #504DC2), color-stop(80.91%, #5F12D0)), #C4C4C4;
  background: linear-gradient(90deg, #504DC2 20.44%, #5F12D0 80.91%), #C4C4C4;
}

html main .all-services .purple-section .text-container, body main .all-services .purple-section .text-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

html main .all-services .purple-section .text-container .header, body main .all-services .purple-section .text-container .header {
  width: 540px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 53px;
  color: #FFFFFF;
  margin-top: 100px;
  margin-left: 405px;
}

html main .all-services .purple-section .text-container .button, body main .all-services .purple-section .text-container .button {
  width: 200px;
  height: 45px;
  background: #4985FF;
  -webkit-box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
          box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
  border-radius: 30px;
  vertical-align: middle;
  margin: 120px auto 93px 370px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  padding-top: 13px;
  color: #FFFFFF;
}

html main .all-services .purple-section .pictures-section, body main .all-services .purple-section .pictures-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 405px;
}

html main .all-services .purple-section .pictures-section .picures-section_item, body main .all-services .purple-section .pictures-section .picures-section_item {
  margin-right: 30px;
}

html main .all-services .purple-section .pictures-section .picures-section_item .picture, body main .all-services .purple-section .pictures-section .picures-section_item .picture {
  border-radius: 10px;
  width: 350px;
  height: 300px;
}

html main .all-services .purple-section .pictures-section .picures-section_item .header, body main .all-services .purple-section .pictures-section .picures-section_item .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
}

html main .all-services .purple-section .pictures-section .picures-section_item .header .header-number, body main .all-services .purple-section .pictures-section .picures-section_item .header .header-number {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #4985FF;
}

html main .all-services .purple-section .pictures-section .picures-section_item .header .header-text, body main .all-services .purple-section .pictures-section .picures-section_item .header .header-text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: black;
}

html main .all-services .purple-section .pictures-section .picures-section_item .text, body main .all-services .purple-section .pictures-section .picures-section_item .text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 25px;
  color: #999999;
  margin-top: 30px;
}

html main .all-services .purple-section .pictures-section .picures-section_item .link, body main .all-services .purple-section .pictures-section .picures-section_item .link {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #4985FF;
  margin-top: 30px;
}

html main .all-services .purple-section hr, body main .all-services .purple-section hr {
  width: 1110px;
  margin-top: 85px;
  margin-bottom: 85px;
}

html main .all-projects, body main .all-projects {
  background: #F6F6F8;
  margin-top: 511px;
  height: 892px;
}

html main .all-projects .header, body main .all-projects .header {
  padding-top: 100px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 53px;
  text-align: center;
  color: #000000;
}

html main .all-projects .text, body main .all-projects .text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 25px;
  text-align: center;
  margin-top: 50px;
  color: #999999;
}

html main .all-projects .images-container, body main .all-projects .images-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 405px;
  margin-top: 70px;
}

html main .all-projects .images-container .picture, body main .all-projects .images-container .picture {
  width: 255px;
  border-radius: 10px;
  margin-right: 30px;
}

html main .all-projects .button, body main .all-projects .button {
  width: 200px;
  height: 45px;
  background: #4985FF;
  -webkit-box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
          box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
  border-radius: 30px;
  vertical-align: middle;
  margin: 120px auto 130px 896px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  padding-top: 13px;
  color: #FFFFFF;
}

html main .video, body main .video {
  height: 570px;
  background-image: url("../assets/img/video-background.png");
}

html main .video .header, body main .video .header {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 53px;
  text-align: center;
  padding-top: 70px;
  color: #FFFFFF;
}

html main .video .text, body main .video .text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 25px;
  text-align: center;
  margin-top: 30px;
  color: #FFFFFF;
}

html main .video .video-container, body main .video .video-container {
  position: relative;
}

html main .video .video-container .background, body main .video .video-container .background {
  position: absolute;
  width: 800px;
  margin-top: 70px;
  margin-left: 475px;
  z-index: 2;
}

html main .video .video-container .play-container, body main .video .video-container .play-container {
  position: absolute;
  z-index: 3;
}

html main .video .video-container hr, body main .video .video-container hr {
  position: absolute;
  width: 57.8%;
  border: 1px solid #E0E0E0;
  margin-top: 595px;
  margin-left: 21.1%;
  text-align: center;
  z-index: 1;
}

html main .subcribe, body main .subcribe {
  margin-top: 285px;
  width: 38%;
  margin-left: 31%;
  text-align: center;
}

html main .subcribe .header, body main .subcribe .header {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #000000;
}

html main .subcribe .text, body main .subcribe .text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 25px;
  text-align: center;
  width: 100%;
  color: #999999;
  margin-top: 20px;
}

html main .subcribe .form, body main .subcribe .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 67%;
  margin-left: 16.5%;
  margin-top: 30px;
}

html main .subcribe .form .input, body main .subcribe .form .input {
  position: absolute;
  z-index: 1;
  background: #FFFFFF;
  border: 1px solid #F2F2F2;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
          box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
  border-radius: 30px;
  height: 45px;
  width: 100%;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 21px;
  padding-top: 2%;
  padding-right: 70%;
  color: #999999;
}

html main .subcribe .form .submit, body main .subcribe .form .submit {
  position: absolute;
  z-index: 2;
  height: 45px;
  width: 38.9%;
  margin-left: 61%;
  background: #4985FF;
  -webkit-box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
          box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
  border-radius: 0px 30px 30px 0px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
}

html main .subcribe .subtitle, body main .subcribe .subtitle {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 21px;
  text-align: center;
  color: #999999;
  margin-top: 78px;
  margin-bottom: 85px;
}

html footer, body footer {
  background: #F6F6F8;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 21px;
  text-align: center;
  color: #999999;
}
/*# sourceMappingURL=style.css.map */