html, body {
    margin: 0;

    header {
        background-image: url(../assets/img/background.png);
        height: 900px;
        nav {
            padding: 40px 365px 0 952px;
            height: 58px;
            list-style-type: none;
            border-bottom: 1px solid rgba(161, 161, 161, 0.5);;
            a {
                font-family: Montserrat;
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 20px;

                color: #FFFFFF;

                text-decoration: none;
                margin-right: 40px;

            } //a
                
            .active {
                border-bottom: 2px solid #FFFFFF;
                padding-bottom: 39px;
            } //.active
        } //nav
    } //header

    main {

    } //main

    footer {

    } //footer

} //html, body