html, body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

html header, body header {
  background-image: url("../assets/img/background.png");
  height: 900px;
  background-size: cover;
}

html header nav, body header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 58px;
  padding-top: 40px;
  max-width: 1113px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  list-style-type: none;
}

html header nav a, body header nav a {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  padding-bottom: 39px;
  color: #FFFFFF;
  text-decoration: none;
  margin-right: 40px;
}

html header nav a:hover, body header nav a:hover {
  color: rgba(214, 236, 14, 0.863);
  border-bottom: 2px solid #FFFFFF;
}

html header nav .active, body header nav .active {
  border-bottom: 2px solid #FFFFFF;
  padding-bottom: 39px;
}

html header .hamburger-menu, body header .hamburger-menu {
  display: none;
}

html header hr, body header hr {
  border: 1px solid rgba(161, 161, 161, 0.5);
  width: 100%;
  margin-top: -2px;
}

html header .main-section, body header .main-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 1113px;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

html header .main-section .first-line, body header .main-section .first-line {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
  padding-top: 220px;
}

html header .main-section .second-line, body header .main-section .second-line {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
  color: #FFFFFF;
  padding-top: 20px;
}

html header .main-section button, body header .main-section button {
  width: 200px;
  background-color: #4985FF;
  -webkit-box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
          box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
  border-radius: 30px;
  margin-top: 55px;
  margin-left: auto;
  margin-right: auto;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 44px;
  text-align: center;
  border: none;
  color: #FFFFFF;
}

html main .services, body main .services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 1113px;
  width: 100%;
  margin-top: 110px;
}

html main .services .first-line, body main .services .first-line {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 53px;
  text-align: center;
  color: #323232;
}

html main .services .second-line, body main .services .second-line {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 25px;
  text-align: center;
  padding-left: 3%;
  padding-right: 3%;
  color: #999999;
  margin-top: 50px;
}

html main .services .service-section, body main .services .service-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 80px;
}

html main .services .service-section .service-section_item, body main .services .service-section .service-section_item {
  width: 33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

html main .services .service-section .service-section_item .images, body main .services .service-section .service-section_item .images {
  background-image: url("../assets/img/project.png");
  background-repeat: no-repeat;
  max-width: 90px;
  width: 100%;
  max-height: 90px;
  height: 100%;
  border: 1px solid #4985FF;
  background-position: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 0px 10px #fff, 0px 0px 0px 11px #E0E0E0;
          box-shadow: 0px 0px 0px 10px #fff, 0px 0px 0px 11px #E0E0E0;
}

html main .services .service-section .service-section_item .text-section, body main .services .service-section .service-section_item .text-section {
  max-width: 228px;
  width: 100%;
  text-align: left;
  margin-left: 10px;
}

html main .services .service-section .service-section_item .text-section .header, body main .services .service-section .service-section_item .text-section .header {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  margin-top: 116px;
  color: #000000;
}

html main .services .service-section .service-section_item .text-section .text, body main .services .service-section .service-section_item .text-section .text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  margin-top: 12px;
  margin-right: 30px;
  color: #999999;
}

html main .services button, body main .services button {
  width: 200px;
  background: #4985FF;
  border: none;
  border-radius: 30px;
  margin-top: 55px;
  margin-left: auto;
  margin-right: auto;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 44px;
  color: #FFFFFF;
}

html main .services button:hover, body main .services button:hover {
  cursor: pointer;
  background: #504DC2;
}

html main .about-us, body main .about-us {
  background: #F6F6F8;
  margin-top: 105px;
}

html main .about-us .main-container, body main .about-us .main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  padding-top: 100px;
  max-width: 1113px;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

html main .about-us .main-container .text-container, body main .about-us .main-container .text-container {
  margin-right: 6.3%;
  text-align: left;
  padding-top: 52px;
}

html main .about-us .main-container .text-container .header, body main .about-us .main-container .text-container .header {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 53px;
  margin-top: 29.9%;
  color: #323232;
}

html main .about-us .main-container .text-container .text, body main .about-us .main-container .text-container .text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 25px;
  margin-top: 40px;
  color: #999999;
}

html main .about-us .main-container .text-container .link, body main .about-us .main-container .text-container .link {
  cursor: pointer;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin-top: 30px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #4985FF;
}

html main .about-us .main-container .text-container .link:hover, body main .about-us .main-container .text-container .link:hover {
  cursor: pointer;
  color: #504DC2;
}

html main .about-us .main-container .image, body main .about-us .main-container .image {
  background-image: url("../assets/img/about-us picture.png");
  width: 500px;
  height: 400px;
  border-radius: 30px;
}

html main .about-us hr, body main .about-us hr {
  width: 57.81%;
  border: 1px solid #E0E0E0;
  margin-bottom: 70px;
  margin-top: 90px;
}

html main .about-us .calendar-container, body main .about-us .calendar-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1113px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

html main .about-us .calendar-container .project-day .calendar, body main .about-us .calendar-container .project-day .calendar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 104px;
  width: 100%;
}

html main .about-us .calendar-container .project-day .calendar .picture, body main .about-us .calendar-container .project-day .calendar .picture {
  background-repeat: no-repeat;
  max-width: 30px;
  width: 100%;
  margin-top: 10px;
  margin-right: 20px;
}

html main .about-us .calendar-container .project-day .calendar .count, body main .about-us .calendar-container .project-day .calendar .count {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 53px;
  color: #000000;
}

html main .about-us .calendar-container .project-day .text, body main .about-us .calendar-container .project-day .text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 25px;
  margin-bottom: 70px;
  color: #999999;
}

html main .all-services, body main .all-services {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(45%, #ffffff), color-stop(45%, #5F12D0));
  background: linear-gradient(to top, #ffffff 45%, #5F12D0 45%);
}

html main .all-services .text-container, body main .all-services .text-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  max-width: 1113px;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 100px;
  padding-bottom: 70px;
}

html main .all-services .text-container .header, body main .all-services .text-container .header {
  max-width: 540px;
  width: 100%;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 53px;
  text-align: left;
  color: #FFFFFF;
}

html main .all-services .text-container button, body main .all-services .text-container button {
  width: 200px;
  background: #4985FF;
  border: none;
  border-radius: 30px;
  margin-top: auto;
  margin-bottom: auto;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 44px;
  color: #FFFFFF;
}

html main .all-services .text-container button:hover, body main .all-services .text-container button:hover {
  cursor: pointer;
  background: #504DC2;
}

html main .all-services .pictures-section, body main .all-services .pictures-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1113px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

html main .all-services .pictures-section .picures-section_item, body main .all-services .pictures-section .picures-section_item {
  max-width: 350px;
  width: 100%;
}

html main .all-services .pictures-section .picures-section_item .picture, body main .all-services .pictures-section .picures-section_item .picture {
  border-radius: 10px;
  max-width: 350px;
  width: 100%;
}

html main .all-services .pictures-section .picures-section_item .header, body main .all-services .pictures-section .picures-section_item .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
}

html main .all-services .pictures-section .picures-section_item .header .header-number, body main .all-services .pictures-section .picures-section_item .header .header-number {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #4985FF;
}

html main .all-services .pictures-section .picures-section_item .header .header-text, body main .all-services .pictures-section .picures-section_item .header .header-text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: black;
}

html main .all-services .pictures-section .picures-section_item .text, body main .all-services .pictures-section .picures-section_item .text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 25px;
  text-align: left;
  color: #999999;
  margin-top: 30px;
}

html main .all-services .pictures-section .picures-section_item .link, body main .all-services .pictures-section .picures-section_item .link {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: left;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #4985FF;
  margin-top: 30px;
}

html main .all-services .pictures-section .picures-section_item .link:hover, body main .all-services .pictures-section .picures-section_item .link:hover {
  cursor: pointer;
  color: #504DC2;
}

html main .all-services hr, body main .all-services hr {
  width: 57.8%;
  border: 1px solid #E0E0E0;
  margin-top: 85px;
  margin-bottom: 85px;
}

html main .all-projects, body main .all-projects {
  background: #F6F6F8;
}

html main .all-projects .all-projects-container, body main .all-projects .all-projects-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 1113px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

html main .all-projects .all-projects-container .header, body main .all-projects .all-projects-container .header {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 53px;
  text-align: center;
  padding-top: 100px;
  color: #000000;
}

html main .all-projects .all-projects-container .text, body main .all-projects .all-projects-container .text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 25px;
  text-align: center;
  padding-top: 50px;
  color: #999999;
}

html main .all-projects .all-projects-container .images-container, body main .all-projects .all-projects-container .images-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 70px;
}

html main .all-projects .all-projects-container .images-container .picture, body main .all-projects .all-projects-container .images-container .picture {
  max-width: 255px;
  width: 100%;
  border-radius: 10px;
}

html main .all-projects .all-projects-container button, body main .all-projects .all-projects-container button {
  width: 200px;
  background: #4985FF;
  border: none;
  border-radius: 30px;
  margin: 50px auto 130px auto;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 44px;
  color: #FFFFFF;
}

html main .all-projects .all-projects-container button:hover, body main .all-projects .all-projects-container button:hover {
  cursor: pointer;
  background: #504DC2;
}

html main .video, body main .video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 570px;
  background-image: url("../assets/img/video-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 208px;
}

html main .video .header, body main .video .header {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 53px;
  text-align: center;
  padding-top: 70px;
  color: #FFFFFF;
}

html main .video .text, body main .video .text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 25px;
  text-align: center;
  margin-top: 30px;
  color: #FFFFFF;
}

html main .video .video-container, body main .video .video-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 970px;
  width: 100%;
  margin-top: 70px;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html main .video .video-container .video-background, body main .video .video-container .video-background {
  max-width: 970px;
  width: 100%;
}

html main .video .video-container .play-container, body main .video .video-container .play-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  max-width: 300px;
  width: 100%;
  margin-top: auto;
  margin-bottom: auto;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  border: 1px solid #FFFFFF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 200px;
}

html main .video .video-container .play-container img, body main .video .video-container .play-container img {
  max-width: 60px;
  width: 100%;
  max-height: 60px;
  height: 100%;
  margin-top: auto;
  margin-bottom: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

html main .video .video-container .play-container p, body main .video .video-container .play-container p {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 25px;
  color: #FFFFFF;
  margin-top: auto;
  margin-bottom: auto;
}

html main .subcribe, body main .subcribe {
  max-width: 1113px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border-top: 1px solid #E0E0E0;
  padding-top: 85px;
}

html main .subcribe .header, body main .subcribe .header {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #000000;
}

html main .subcribe .text, body main .subcribe .text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 25px;
  text-align: center;
  width: 100%;
  color: #999999;
  margin-top: 20px;
}

html main .subcribe .form, body main .subcribe .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 489px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

html main .subcribe .form input, body main .subcribe .form input {
  background: #FFFFFF;
  border: 1px solid #F2F2F2;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
          box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
  border-radius: 30px 0 0 30px;
  padding-left: 33px;
  max-width: 299px;
  width: 100%;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 21px;
  color: #999999;
}

html main .subcribe .form button, body main .subcribe .form button {
  max-width: 199px;
  width: 100%;
  background: #4985FF;
  -webkit-box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
          box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
  border-radius: 0px 30px 30px 0px;
  border: none;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 44px;
  color: #FFFFFF;
}

html main .subcribe .form button:hover, body main .subcribe .form button:hover {
  cursor: pointer;
  background: #504DC2;
}

html main .subcribe .subtitle, body main .subcribe .subtitle {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 21px;
  text-align: center;
  color: #999999;
  margin-top: 35px;
  margin-bottom: 85px;
}

html footer, body footer {
  background: #F6F6F8;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 21px;
  text-align: center;
  color: #999999;
}

html footer .information-container, body footer .information-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 70px;
  max-width: 1113px;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
}

html footer .information-container .contacts, body footer .information-container .contacts {
  text-align: left;
}

html footer .information-container .contacts .header, body footer .information-container .contacts .header {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}

html footer .information-container .contacts .list, body footer .information-container .contacts .list {
  margin-top: 35px;
}

html footer .information-container .contacts .list ul, body footer .information-container .contacts .list ul {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  -webkit-padding-start: 20px;
          padding-inline-start: 20px;
  color: #999999;
}

html footer .information-container .contacts .list ul .mail, body footer .information-container .contacts .list ul .mail {
  list-style-image: url("../assets/img/mail.png");
}

html footer .information-container .contacts .list ul .phone, body footer .information-container .contacts .list ul .phone {
  list-style-image: url("../assets/img/call.png");
}

html footer .information-container .contacts .list ul .location, body footer .information-container .contacts .list ul .location {
  list-style-image: url("../assets/img/placeholder.png");
}

html footer .information-container .contacts .list ul li, body footer .information-container .contacts .list ul li {
  margin-bottom: 30px;
}

html footer .information-container .contacts .list ul li a, body footer .information-container .contacts .list ul li a {
  color: #999999;
  text-decoration: none;
}

html footer .information-container .links, body footer .information-container .links {
  text-align: left;
}

html footer .information-container .links .header, body footer .information-container .links .header {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}

html footer .information-container .links .list ul, body footer .information-container .links .list ul {
  list-style-image: url("../assets/img/right-arrow.png");
  margin-top: 35px;
  -webkit-padding-start: 20px;
          padding-inline-start: 20px;
}

html footer .information-container .links .list ul li, body footer .information-container .links .list ul li {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  margin-bottom: 30px;
  color: #999999;
}

html footer .information-container .links .list ul li:hover, body footer .information-container .links .list ul li:hover {
  cursor: pointer;
  color: black;
}

html footer .information-container .projects, body footer .information-container .projects {
  text-align: left;
}

html footer .information-container .projects .header, body footer .information-container .projects .header {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}

html footer .information-container .projects .list ul, body footer .information-container .projects .list ul {
  list-style-image: url("../assets/img/right-arrow.png");
  margin-top: 35px;
  -webkit-padding-start: 20px;
          padding-inline-start: 20px;
}

html footer .information-container .projects .list ul li, body footer .information-container .projects .list ul li {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  margin-bottom: 30px;
  color: #999999;
}

html footer .information-container .projects .list ul li:hover, body footer .information-container .projects .list ul li:hover {
  cursor: pointer;
  color: black;
}

html footer .information-container .networks, body footer .information-container .networks {
  text-align: left;
}

html footer .information-container .networks .header, body footer .information-container .networks .header {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}

html footer .information-container .networks .list ul, body footer .information-container .networks .list ul {
  list-style-image: url("../assets/img/right-arrow.png");
  margin-top: 35px;
  -webkit-padding-start: 20px;
          padding-inline-start: 20px;
}

html footer .information-container .networks .list ul li, body footer .information-container .networks .list ul li {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  margin-bottom: 30px;
  color: #999999;
}

html footer .information-container .networks .list ul li:hover, body footer .information-container .networks .list ul li:hover {
  cursor: pointer;
  color: black;
}

html footer .footer-container hr, body footer .footer-container hr {
  width: 57.8%;
  border: 1px solid #E0E0E0;
  margin-left: 21.1%;
  margin-top: 70px;
  margin-bottom: 30px;
}

html footer .footer-container .text, body footer .footer-container .text {
  padding-bottom: 30px;
}
/*# sourceMappingURL=style.css.map */