@media (max-width: 770px) {
  html, body {
    margin: 0;
  }
  html header nav a, body header nav a {
    display: none;
  }
  html header .hamburger-menu, body header .hamburger-menu {
    display: block;
  }
  html header .hamburger-menu #menu__toggle, body header .hamburger-menu #menu__toggle {
    opacity: 0;
  }
  html header .hamburger-menu #menu__toggle:checked ~ .menu__btn > span, body header .hamburger-menu #menu__toggle:checked ~ .menu__btn > span {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  html header .hamburger-menu #menu__toggle:checked ~ .menu__btn > span::before, body header .hamburger-menu #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  html header .hamburger-menu #menu__toggle:checked ~ .menu__btn > span::after, body header .hamburger-menu #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  html header .hamburger-menu #menu__toggle:checked ~ .menu__box, body header .hamburger-menu #menu__toggle:checked ~ .menu__box {
    visibility: visible;
    left: 0;
  }
  html header .hamburger-menu .menu__btn, body header .hamburger-menu .menu__btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: fixed;
    top: 20px;
    left: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
  }
  html header .hamburger-menu .menu__btn > span,
  html header .hamburger-menu .menu__btn > span::before,
  html header .hamburger-menu .menu__btn > span::after, body header .hamburger-menu .menu__btn > span,
  body header .hamburger-menu .menu__btn > span::before,
  body header .hamburger-menu .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #616161;
    -webkit-transition-duration: .25s;
            transition-duration: .25s;
  }
  html header .hamburger-menu .menu__btn > span::before, body header .hamburger-menu .menu__btn > span::before {
    content: '';
    top: -8px;
  }
  html header .hamburger-menu .menu__btn > span::after, body header .hamburger-menu .menu__btn > span::after {
    content: '';
    top: 8px;
  }
  html header .hamburger-menu .menu__box, body header .hamburger-menu .menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 195px;
    height: 20%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: #ECEFF1;
    -webkit-box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
            box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
    -webkit-transition-duration: .25s;
            transition-duration: .25s;
  }
  html header .hamburger-menu .menu__item, body header .hamburger-menu .menu__item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    -webkit-transition-duration: .25s;
            transition-duration: .25s;
  }
  html header .hamburger-menu .menu__item:hover, body header .hamburger-menu .menu__item:hover {
    background-color: #CFD8DC;
  }
  html header hr, body header hr {
    display: none;
  }
  html header .main-section .first-line, body header .main-section .first-line {
    padding-top: 100px;
  }
  html main .services, body main .services {
    max-width: 730px;
    width: 100%;
  }
  html main .services .service-section, body main .services .service-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    max-width: 730px;
    width: 100%;
  }
  html main .services .service-section .service-section_item, body main .services .service-section .service-section_item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    max-width: 540px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-bottom: 5%;
  }
  html main .services .service-section .service-section_item .images, body main .services .service-section .service-section_item .images {
    max-width: 40px;
    width: 100%;
    max-height: 40px;
    height: 100%;
    padding: 6%;
  }
  html main .about-us .main-container, body main .about-us .main-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin-left: auto;
    margin-right: auto;
    max-width: 504px;
    width: 100%;
  }
  html main .about-us .main-container .image, body main .about-us .main-container .image {
    max-width: 415px;
  }
  html main .about-us .calendar-container, body main .about-us .calendar-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    max-width: 630px;
    width: 100%;
  }
  html main .about-us .calendar-container .project-day, body main .about-us .calendar-container .project-day {
    width: 30%;
  }
  html main .all-services, body main .all-services {
    background: -webkit-gradient(linear, left bottom, left top, color-stop(82%, #ffffff), color-stop(82%, #5F12D0));
    background: linear-gradient(to top, #ffffff 82%, #5F12D0 82%);
  }
  html main .all-services .text-container, body main .all-services .text-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 540px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
  }
  html main .all-services .text-container .header, body main .all-services .text-container .header {
    text-align: center;
    margin-bottom: 5%;
  }
  html main .all-services .text-container button, body main .all-services .text-container button {
    margin: auto;
  }
  html main .all-services .pictures-section, body main .all-services .pictures-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 7%;
  }
  html main .all-services .pictures-section .picures-section_item, body main .all-services .pictures-section .picures-section_item {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3%;
  }
  html main .all-services hr, body main .all-services hr {
    display: none;
  }
  html main .all-projects p, body main .all-projects p {
    padding-left: 3%;
    padding-right: 3%;
  }
  html main .all-projects .images-container, body main .all-projects .images-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: auto;
    margin-right: auto;
  }
  html main .all-projects .images-container .picture, body main .all-projects .images-container .picture {
    margin-bottom: 5%;
  }
  html footer .information-container, body footer .information-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  html footer .information-container .contacts, body footer .information-container .contacts {
    margin-left: auto;
    margin-right: auto;
  }
  html footer .information-container .links, body footer .information-container .links {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
  }
  html footer .information-container .projects, body footer .information-container .projects {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
  }
  html footer .information-container .networks, body footer .information-container .networks {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
  }
}
/*# sourceMappingURL=tablet.css.map */