@import "style.scss";

@media(max-width: 768px) {

    html, body {

        header {
            nav {
                display: flex;
                flex-direction: column;
            }
            hr {
                display: none;
            }
            .main-section {
                .first-line {
                    padding-top: 100px;
                }

            }
        } //header

        main {
            .services {
                .first-line {

                }
                .second-line {

                }
                .service-section {
                    
                }
            }

        } //main
    }


}